# FASTAPI
INFERENCE_API_BASE_URL=http://fastapi:8000
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
DB_ENABLED=1

# W&B
WANDB_API_KEY=?
WANDB_ENTITY=?
WANDB_PROJECT=?
WANDB_RUN_ID=?
WANDB_RUNS_LIMIT=?

# DATABASE
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_NAME=?
POSTGRES_USER=?
POSTGRES_PASSWORD=?

# GRAFANA
GF_USER=admin
GF_PASSWORD=admin
