# FASTAPI
INFERENCE_API_BASE_URL=http://fastapi:8000
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
DB_ENABLED=1

# W&B
WANDB_API_KEY=?
WANDB_ENTITY=?
WANDB_PROJECT=?
WANDB_RUN_ID=?
WANDB_RUNS_LIMIT=10
WANDB_API_TIMEOUT=120
WANDB_ARTIFACT_CACHE_DIR=/app/media/wandb_artifacts

# DATABASE
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=?
POSTGRES_USER=?
POSTGRES_PASSWORD=?

# GRAFANA
GF_USER=?
GF_PASSWORD=?

# LLM MODEL
LLM_ENABLED=1
# for hf models
LLM_HEAVY_MODEL_ID=TinyLlama/TinyLlama-1.1B-Chat-v1.0
LLM_TEMPERATURE=0.3
LLM_MAX_TOKENS=500
LLM_TOP_K=5
LLM_DEVICE=cpu
TORCH_DTYPE=torch.bfloat16
HF_TOKEN=?
# for llama cpp
LLM_CPP_MODEL_PATH=/app/models/qwen2.5-1.5b-instruct-q4_k_m.gguf
LLM_CPP_MODEL_URL=https://huggingface.co/Qwen/Qwen2.5-1.5B-Instruct-GGUF/resolve/main/qwen2.5-1.5b-instruct-q4_k_m.gguf
LLM_GPU_LAYERS=35
LLM_CTX=2048
LLM_THREADS=8
